<div class="loginPage">
  <div class="container">
    <div class="loginPage_contents">
      <h1 class="h4 loginPage_contents_title">マッチする！チャットする<br>デートする！人生楽しもう！</h1>
      <%= link_to "メールアドレスでログインする", new_user_session_path, class: "btn loginPage_contents_btn" %>
    </div>
  </div>
  <div id="new_registration">
    <%= link_to "初めての人は新規登録してみよう！", new_user_registration_path, class: "new_registration_color" %>
  </div>
</div>
