// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginPage {
  height: 100%;
  background: url('top.jpg') center;
  background-size: cover;
  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
      font-size: 50px;
      font-weight:bold;
      color: white;
    }
    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: #fd5068;
      color: #fff;
    }
  }
}
#new_registration{
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.new_registration_color{
  color:#fff;
}
